<div class="card">
  <div class="card-header card-header-tabs card-header-primary">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <span class="nav-tabs-title">Cities`s
            <a mat-button class="btn btn-default">
              {{selectedWereda.name}}
            </a>
        </span>
        <ul class="nav nav-tabs pull-right" data-tabs="tabs">
          <li class="nav-item pull-right">
            <a mat-button class="nav-link active" (click)="addNewCity()">
              <i class="material-icons">person</i> New City
              <div class="ripple-container"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <mat-paginator [length]="paginatedCities.total"
                     [pageSize]="paginatedCities.per_page"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="updatePaginatedCitiesData($event)" showFirstLastButtons>
      </mat-paginator>
      <table class="table">
        <thead class=" text-primary">
        <th> ID </th>
        <th> Zone </th>
        <th> Region </th>
        <th> Latitude </th>
        <th> Longitude </th>
        <th> </th>
        </thead>
        <tbody>
        <tr *ngFor="let city of paginatedCities.data; let i = index">
          <td> {{paginatedCities.from + i}} </td>
          <td (click)="onSelectCity(city)"> {{city.name}} </td>
          <td> {{city.wereda.name}} </td>
          <td> {{city.name}} </td>
          <td> {{city.latitude}} </td>
          <td> {{city.longitude}} </td>
          <td class="td-actions">
            <button mat-raised-button type="button" matTooltip="Edit"
                    [matTooltipPosition]="'above'" (click)="updateCity(city)"
                    class="btn btn-danger btn-link btn-sm btn-just-icon">
              <i class="material-icons">edit</i>
            </button>
            <button mat-raised-button type="button" matTooltip="Remove"
                    [matTooltipPosition]="'above'" (click)="deleteCity(city)"
                    class="btn btn-danger btn-link btn-sm btn-just-icon">
              <i class="material-icons">close</i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <mat-paginator [length]="paginatedCities.total"
                     [pageSize]="paginatedCities.per_page"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="updatePaginatedCitiesData($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>
