<h1 mat-dialog-title>New User</h1>
<div mat-dialog-content>
  <div class="form-label-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Full Name" [(ngModel)]="new_user.full_name" name="full_name">
    </mat-form-field>
  </div>
  <div class="form-label-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [(ngModel)]="new_user.email" name="email">
    </mat-form-field>
  </div>
  <div class="form-label-group">
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Password" [(ngModel)]="new_user.password" name="password">
    </mat-form-field>
  </div>
  <div class="form-label-group" *ngIf="is_super_admin">
    <mat-form-field>
      <mat-select placeholder="Region" [(ngModel)]="new_user.region_id" name="region_id">
        <mat-option *ngFor="let region of region_list" [value]="region.id">
          {{region.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-label-group" *ngIf="is_super_admin">
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Call Center Name" [(ngModel)]="new_user.call_center" name="call_center">
    </mat-form-field>
  </div>
  <div class="form-label-group">
    <mat-form-field>
      <mat-select placeholder="Role" [(ngModel)]="new_user.role_id" name="role_id">
        <mat-option *ngFor="let role of roles_list" [value]="role.id">
          {{role.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br>
  <div class="form-label-group">
    <button mat-raised-button (click)="addNewUser()" class="btn btn-primary pull-right">Create User</button>
    <button mat-raised-button (click)="cancel()" class="btn btn-default pull-left">Cancel</button>
  </div>
</div>
<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
</div>
