<div class="main-content">
  <div class="container-fluid">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <app-regions (selectRegion)="onSelectRegion($event)"></app-regions>
        </div>
        <div class="col-sm-6">
          <app-zones [selectedRegion]="selectedRegion" (selectZone)="onSelectZone($event)"></app-zones>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <app-weredas [selectedZone]="selectedZone" (selectWereda)="onSelectWereda($event)"></app-weredas>
        </div>
        <div class="col-sm-6">
          <app-cities [selectedWereda]="selectedWereda" (selectCity)="onSelectCity($event)"></app-cities>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <app-sub-cities [selectedCity]="selectedCity" (selectSubCity)="onSelectSubCity($event)"></app-sub-cities>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px' }"></ngx-loading>
  </div>
</div>
