<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">ring_volume</i>
            </div>
            <p class="card-category">Call Reports</p>
            <h3 class="card-title">{{dashboard_count_data.call_reports_count}}
              <small>Calls</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">ring_volume</i>
              <a>Total Sent Messages</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">supervisor_account</i>
            </div>
            <p class="card-category">Community Reports</p>
            <h3 class="card-title">{{dashboard_count_data.community_reports_count}}
              <small>Reports</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">supervisor_account</i> Reports From Community
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">local_hospital</i>
            </div>
            <p class="card-category">Health Institutes Reports</p>
            <h3 class="card-title">{{dashboard_count_data.medial_reports_count}}
              <small></small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">contacts</i> Health Institute`s Reports
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">supervisor_account</i>
            </div>
            <p class="card-category">Social Media</p>
            <h3 class="card-title">{{dashboard_count_data.medial_reports_count}}
              <small></small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">supervisor_account</i> Social Media
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="DailySentMessagesChart" style="height: 300px"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Report History</h4>
            <button mat-raised-button type="button" matTooltip="Move To The Left"
                    [matTooltipPosition]="'above'" (click)="moveDailyMessageHistory(-1);"
                    class="btn btn-primary btn-link btn-md btn-just-icon pull-right">
              <i class="fa fa-arrow-circle-right"></i>
            </button>
            <button mat-raised-button type="button" matTooltip="Move To The Right"
                    [matTooltipPosition]="'above'" (click)="moveDailyMessageHistory(1);"
                    class="btn btn-primary btn-link btn-md btn-just-icon pull-left">
              <i class="fa fa-arrow-circle-left"></i>
            </button>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> Daily Call Reports
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-warning">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Regional Reports:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#call_reports" data-toggle="tab">
                      <i class="material-icons">bug_report</i> Call Reports
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#community_reports" data-toggle="tab">
                      <i class="material-icons">code</i> Community Reports
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#health_institute_reports" data-toggle="tab">
                      <i class="material-icons">cloud</i> Health Institutes Reports
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="call_reports">
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                    <th>ID</th>
                    <th>Region</th>
                    <th>Total Reports</th>
                    <th>Last Report Date</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let regionalReport of regionalCallReports; let i = index">
                      <td>{{i + 1}}</td>
                      <td>{{regionalReport.region.name}}</td>
                      <td>{{regionalReport.call_reports}}</td>
                      <td>{{regionalReport.last_report_date}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="community_reports">
              </div>
              <div class="tab-pane" id="health_institute_reports">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px' }"></ngx-loading>
