<h1 mat-dialog-title>New City</h1>
<div mat-dialog-content>
  <div class="form-label-group">
    <mat-form-field>
      <mat-select placeholder="Zone" [(ngModel)]="newCity.wereda_id" name="wereda_id">
        <mat-option *ngFor="let wereda of weredas" [value]="wereda.id">
          {{wereda.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-label-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" [(ngModel)]="newCity.name" name="name">
    </mat-form-field>
  </div>
  <div class="form-label-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Latitude" [(ngModel)]="newCity.latitude" name="latitude">
    </mat-form-field>
  </div>
  <div class="form-label-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Longitude" [(ngModel)]="newCity.longitude" name="longitude">
    </mat-form-field>
  </div>
  <br>
  <div class="form-label-group">
    <button mat-raised-button (click)="addNewCity()" class="btn btn-primary pull-right">Add City</button>
    <button mat-raised-button (click)="cancel()" class="btn btn-default pull-left">Cancel</button>
  </div>
</div>
<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
</div>
