.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.example-radio-button {
  margin: 5px;
}
