<div class="card">
    <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
        <span class="nav-tabs-title">
            Zone`s Of
            <a mat-button class="btn btn-default">
              {{selectedRegion.name}}
            </a>
        </span>
                <ul class="nav nav-tabs pull-right" data-tabs="tabs">
                    <li class="nav-item pull-right">
                        <a mat-button class="nav-link active" (click)="addNewZone()">
                            <i class="material-icons">person</i> New Zone
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <mat-paginator [length]="paginatedZone.total"
                           [pageSize]="paginatedZone.per_page"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="updatePaginatedZoneData($event)" showFirstLastButtons>
            </mat-paginator>
            <table class="table">
                <thead class=" text-primary">
                <th> ID</th>
                <th> Zone</th>
                <th> Region</th>
                <th> Latitude</th>
                <th> Longitude</th>
                <th></th>
                </thead>
                <tbody>
                <tr *ngFor="let zone of paginatedZone.data; let i = index">
                    <td> {{paginatedZone.from + i}}</td>
                    <td (click)="onSelectZone(zone)"> {{zone.name}}</td>
                    <td> {{zone.region.name}}</td>
                    <td> {{zone.name}}</td>
                    <td> {{zone.latitude}}</td>
                    <td> {{zone.longitude}}</td>
                    <td class="td-actions">
                        <button mat-raised-button type="button" matTooltip="Edit"
                                [matTooltipPosition]="'above'" (click)="updateZone(zone)"
                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                            <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove"
                                [matTooltipPosition]="'above'" (click)="deleteZone(zone)"
                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                            <i class="material-icons">close</i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <mat-paginator [length]="paginatedZone.total"
                           [pageSize]="paginatedZone.per_page"
                           [pageSizeOptions]="pageSizeOptions"
                           (page)="updatePaginatedZoneData($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>
