<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Users:</span>
                                <ul class="nav nav-tabs pull-right" data-tabs="tabs">
                                    <li class="nav-item pull-right">
                                        <a mat-button class="nav-link active" (click)="addNewUser()">
                                            <i class="material-icons">person</i> Create New User
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-paginator [length]="paginated_users.total"
                                           [pageSize]="paginated_users.per_page"
                                           [pageSizeOptions]="pageSizeOptions"
                                           (page)="updatePaginatedUsersData($event)" showFirstLastButtons>
                            </mat-paginator>
                            <table class="table">
                                <thead class=" text-primary">
                                <th> ID</th>
                                <th> Full Name</th>
                                <th> Email</th>
                                <th> Region</th>
                                <th> Call Center</th>
                                <th> Role</th>
                                <th> Status</th>
                                <th> Updated By</th>
                                <th> Created At</th>
                                <th></th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let user of paginated_users.data; let i = index">
                                    <td> {{paginated_users.from + i}} </td>
                                    <td> {{user.full_name}} </td>
                                    <td> {{user.email}} </td>
                                    <td> {{user.region.name}} </td>
                                    <td> {{user.call_center}} </td>
                                    <td> {{user.role.name}} </td>
                                    <td>
                                        <mat-checkbox class="example-margin text-primary" [(ngModel)]="user.is_active"
                                                      (click)="changeUserStatus(user)"></mat-checkbox>
                                    </td>
                                    <td> {{user.full_name}} </td>
                                    <td class="text-primary"> {{user.created_at | date: 'short'}} </td>
                                    <td class="td-actions">
                                        <button mat-raised-button type="button" matTooltip="Edit"
                                                [matTooltipPosition]="'above'" (click)="updateUser(user)"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button type="button" matTooltip="Remove"
                                                [matTooltipPosition]="'above'" (click)="deleteUser(user)"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <mat-paginator [length]="paginated_users.total"
                                           [pageSize]="paginated_users.per_page"
                                           [pageSizeOptions]="pageSizeOptions"
                                           (page)="updatePaginatedUsersData($event)" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px' }"></ngx-loading>
    </div>
</div>
