<br>
<br>
<br>
<br>
<div class="main-content">
  <form class="form-signin card card-profile" (submit)="loginUser()">
    <div class="card-avatar">
      <a>
        <img class="img" src="../../../assets/img/covid_19.jpg" />
      </a>
    </div>
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Welcome To <br>COVID.19 Response Portal</h1>
    </div>
    <div class="form-label-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [(ngModel)]="new_login_user.email" name="user_email">
      </mat-form-field>
    </div>
    <div class="form-label-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" [(ngModel)]="new_login_user.password" name="user_password">
      </mat-form-field>
    </div>
    <a [routerLink]="['/auth/get-reset-code']">Forgot your password?</a>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div class="mt-5 mb-3 text-muted text-center"><a href="https://negarit.net">Powered By Negarit</a> <br> © 2019-2020</div>
  </form>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px' }"></ngx-loading>

